*:not(.v-icon) {
  font-family: 'Roboto Mono', serif !important;
}

.v-btn {
  text-transform: none !important;
  font-weight: 600 !important;

  /* Disable colored buttons when disabled */
  &:disabled {
    background-color: rgba(var(--v-theme-on-surface), 0.12) !important;
    color: rgba(var(--v-theme-on-surface), 0.38) !important;
  }
}

.v-menu {
  .v-overlay__scrim {
    background-color: transparent;
  }
}
